
<h2><%= @food.name %></h2>
<p>Cuisine: <%= @food.cuisine_type %></p>
<p>Price: <%= @food.price %></p>
<p>Allergens: <%= @food.allergens %></p>
<h5 class="edit"><a href="/foods/<%= @food.id %>/edit">Edit Dish</a></h5>
	<form class="delete-food" action="/foods/<%= @food.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="delete dish">
	</form>


	