<h2>RECEIPT:</h2>

<a href="http://www.printfriendly.com" class="printfriendly" onclick="window.print();return false;" title="Woo Hoo! Purple Receipt! Click to Print.">
	<div>
		<ul>
			<% @price_total = 0 %>
			<li>----------------------------------------------------</li>
			<li>TABLE <%= @party.table_no %> ORDER :</li>
			<% @orders.select do |order| %>
			<% food_name = Food.where(id: order[:food_id]).map{|sql_column| sql_column[:name]}.join %>
			<% item_price = Food.where(id: order[:food_id]).map{|sql_column| sql_column[:price]}.join.to_i %>
			<% if order[:party_id] == @party.id %>
			<li>
				<%= food_name %> - <%= item_price %>
				<% @price_total += item_price %>
			</li>
			<% end %>
			<% end %>
			<li>----------------------------------------------------</li>
			<li>TIPPING GUIDE :</li>
			<li>How was our service?</li>
			<li>SO-SO: 15% Gratituity - <%= '%.2f' % (@price_total * 0.15) %></li>
			<li>GREAT: 20% Gratituity - <%= '%.2f' % (@price_total * 0.20) %></li>
			<li>EXCELLENT: 25% Gratituity - <%= '%.2f' % (@price_total * 0.25) %></li>
			<li>----------------------------------------------------</li>
			<li>Balance Due - <%= '%.2f' % @price_total %></li>
			<li>----------------------------------------------------</li>
		</ul>
	</div>
</a>

<script>var pfHeaderImgUrl = '';var pfHeaderTagline = '';var pfdisableClickToDel = 0;var pfHideImages = 0;var pfImageDisplayStyle = 'right';var pfDisablePDF = 0;var pfDisableEmail = 0;var pfDisablePrint = 0;var pfCustomCSS = '';var pfBtVersion='1';(function(){var js, pf;pf = document.createElement('script');pf.type = 'text/javascript';if('https:' == document.location.protocol){js='https://pf-cdn.printfriendly.com/ssl/main.js'}else{js='http://cdn.printfriendly.com/printfriendly.js'}pf.src=js;document.getElementsByTagName('head')[0].appendChild(pf)})();</script><a href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly" onclick="window.print();return false;" title="Printer Friendly and PDF"><img style="border:none;-webkit-box-shadow:none;box-shadow:none;" src="http://cdn.printfriendly.com/button-print-gry20.png" alt="Print Friendly and PDF"/></a>