
<h3>Table Number: <%= @party.table_no %></h3>
<h3>Number in Party: <%= @party.guest_no %></h3>
<h3>Paid: <%= @party.paid %></h3>
<h4><a href="/parties/<%= @party.id %>/edit">Edit Party?</a></h4>


<form class="delete-party" action="/parties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="delete">
</form>


<h3>Menu</h3>

<form action="/parties/:id/orders" method="post">
	<ul>
		<% @foods.each do |food| %>
		<li>
		<input type="checkbox" name="food_id" value="<%= food.id %>"><%= food.name %>
		</li>
		<% end %>
		<li><input type="checkbox" name="dufresnes" value="">Dufresnes?</li>
		<input type="hidden" name="party_id" value="<%= @party.id %>">
 	</ul>

<input type="submit" value="PLAY GOD WITH ORDERS">
</form>

