
<h3>Table Number: <%= @party.table_no %></h3>
<h3>Number in Party: <%= @party.guest_no %></h3>
<h3>Paid: <%= @party.paid %></h3>
<h4><a href="/parties/<%= @party.id %>/edit">Edit Party?</a></h4>


<form class="delete-party" action="/parties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="delete">
</form>


<h3>Menu</h3>

<form action="/orders" method="post">
	<ul>
		<% @foods.each do |food| %>
		<li>
		<input type="checkbox" name="order[food_id]" value="<%= food.id %>"><%= food.name %>
		</li>
		<% end %>
		<li>Dufresnes, Party of 3?</br><input type="radio" name="order[dufresnes]" value="<%= true %>">Yes, The Dufresnes Are Found</li>
		<input type="radio" name="order[dufresnes]" value="<%= false %>">No, People Are Missing</li>
		<input type="hidden" name="order[party_id]" value="<%= @party.id %>">
 	</ul>
<input type="submit" value="PLAY GOD WITH ORDERS">
</form>




<h3>Order</h3>

<ul>
	<% @orders.select do |order| %>
		<% if order[:party_id] == @party.id %>
		<li>
			<%= Food.where(id: order[:food_id]).map{|sql_column| sql_column[:name]}.join %>
			<form class="delete-order" action="/orders/<%= order.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="delete">
			</form>
		</li>
		<% end %>
	<% end %>
</ul>
